<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="studentEnroll">
            <h2><span jhiTranslate="cloudGatewayApp.svcStudentStudentEnroll.detail.title">Student Enroll</span> {{studentEnroll.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cloudGatewayApp.svcStudentStudentEnroll.enrollYear">Enroll Year</span></dt>
                <dd>
                    <span>{{studentEnroll.enrollYear}}</span>
                </dd>
                <dt><span jhiTranslate="cloudGatewayApp.svcStudentStudentEnroll.forProgrammeId">For Programme Id</span></dt>
                <dd>
                    <span>{{studentEnroll.forProgrammeId}}</span>
                </dd>
                <dt><span jhiTranslate="cloudGatewayApp.svcStudentStudentEnroll.forDegree">For Degree</span></dt>
                <dd>
                    <span jhiTranslate="{{'cloudGatewayApp.Degree.' + studentEnroll.forDegree}}">{{studentEnroll.forDegree}}</span>
                </dd>
                <dt><span jhiTranslate="cloudGatewayApp.svcStudentStudentEnroll.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{'cloudGatewayApp.EnrollStatus.' + studentEnroll.status}}">{{studentEnroll.status}}</span>
                </dd>
                <dt><span jhiTranslate="cloudGatewayApp.svcStudentStudentEnroll.student">Student</span></dt>
                <dd>
                    <div *ngIf="studentEnroll.studentId">
                        <a [routerLink]="['/student', studentEnroll.studentId, 'view']">{{studentEnroll.studentStudentNumber}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/student-enroll', studentEnroll.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
