<div>
    <h2 id="page-heading">
        <span jhiTranslate="cloudGatewayApp.svcStudentStudentEnroll.home.title">Student Enrolls</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-student-enroll" [routerLink]="['/student-enroll/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="cloudGatewayApp.svcStudentStudentEnroll.home.createLabel">
            Create new Student Enroll
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="studentEnrolls">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="enrollYear"><span jhiTranslate="cloudGatewayApp.svcStudentStudentEnroll.enrollYear">Enroll Year</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="forProgrammeId"><span jhiTranslate="cloudGatewayApp.svcStudentStudentEnroll.forProgrammeId">For Programme Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="forDegree"><span jhiTranslate="cloudGatewayApp.svcStudentStudentEnroll.forDegree">For Degree</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span jhiTranslate="cloudGatewayApp.svcStudentStudentEnroll.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="studentStudentNumber"><span jhiTranslate="cloudGatewayApp.svcStudentStudentEnroll.student">Student</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let studentEnroll of studentEnrolls ;trackBy: trackId">
                <td><a [routerLink]="['/student-enroll', studentEnroll.id, 'view' ]">{{studentEnroll.id}}</a></td>
                <td>{{studentEnroll.enrollYear}}</td>
                <td>{{studentEnroll.forProgrammeId}}</td>
                <td jhiTranslate="{{'cloudGatewayApp.Degree.' + studentEnroll.forDegree}}">{{studentEnroll.forDegree}}</td>
                <td jhiTranslate="{{'cloudGatewayApp.EnrollStatus.' + studentEnroll.status}}">{{studentEnroll.status}}</td>
                <td>
                    <div *ngIf="studentEnroll.studentId">
                        <a [routerLink]="['../student', studentEnroll.studentId , 'view' ]" >{{studentEnroll.studentStudentNumber}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/student-enroll', studentEnroll.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/student-enroll', studentEnroll.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'student-enroll', { outlets: { popup: studentEnroll.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="studentEnrolls && studentEnrolls.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
