<div>
    <h2 id="page-heading">
        <span jhiTranslate="cloudGatewayApp.svcModuleStudentModuleSelection.home.title">Student Module Selections</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-student-module-selection" [routerLink]="['/student-module-selection/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="cloudGatewayApp.svcModuleStudentModuleSelection.home.createLabel">
            Create new Student Module Selection
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="studentModuleSelections">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="studentId"><span jhiTranslate="cloudGatewayApp.svcModuleStudentModuleSelection.studentId">Student Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="academicYear"><span jhiTranslate="cloudGatewayApp.svcModuleStudentModuleSelection.academicYear">Academic Year</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="academicSemester"><span jhiTranslate="cloudGatewayApp.svcModuleStudentModuleSelection.academicSemester">Academic Semester</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="creditHour"><span jhiTranslate="cloudGatewayApp.svcModuleStudentModuleSelection.creditHour">Credit Hour</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="marks"><span jhiTranslate="cloudGatewayApp.svcModuleStudentModuleSelection.marks">Marks</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="qcs"><span jhiTranslate="cloudGatewayApp.svcModuleStudentModuleSelection.qcs">Qcs</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="moduleName"><span jhiTranslate="cloudGatewayApp.svcModuleStudentModuleSelection.module">Module</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="studentModuleGradeTypeName"><span jhiTranslate="cloudGatewayApp.svcModuleStudentModuleSelection.studentModuleGradeType">Student Module Grade Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let studentModuleSelection of studentModuleSelections ;trackBy: trackId">
                <td><a [routerLink]="['/student-module-selection', studentModuleSelection.id, 'view' ]">{{studentModuleSelection.id}}</a></td>
                <td>{{studentModuleSelection.studentId}}</td>
                <td>{{studentModuleSelection.academicYear}}</td>
                <td>{{studentModuleSelection.academicSemester}}</td>
                <td>{{studentModuleSelection.creditHour}}</td>
                <td>{{studentModuleSelection.marks}}</td>
                <td>{{studentModuleSelection.qcs}}</td>
                <td>
                    <div *ngIf="studentModuleSelection.moduleId">
                        <a [routerLink]="['../module', studentModuleSelection.moduleId , 'view' ]" >{{studentModuleSelection.moduleName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="studentModuleSelection.studentModuleGradeTypeId">
                        <a [routerLink]="['../module-grade', studentModuleSelection.studentModuleGradeTypeId , 'view' ]" >{{studentModuleSelection.studentModuleGradeTypeName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/student-module-selection', studentModuleSelection.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/student-module-selection', studentModuleSelection.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'student-module-selection', { outlets: { popup: studentModuleSelection.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="studentModuleSelections && studentModuleSelections.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
