<div>
    <h2 id="page-heading">
        <span jhiTranslate="cloudGatewayApp.svcProgrammeModuleProgramme.home.title">Programmes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-programme" [routerLink]="['/programme/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="cloudGatewayApp.svcProgrammeModuleProgramme.home.createLabel">
            Create new Programme
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="programmes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="code"><span jhiTranslate="cloudGatewayApp.svcProgrammeModuleProgramme.code">Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="cloudGatewayApp.svcProgrammeModuleProgramme.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="length"><span jhiTranslate="cloudGatewayApp.svcProgrammeModuleProgramme.length">Length</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="courseLeader"><span jhiTranslate="cloudGatewayApp.svcProgrammeModuleProgramme.courseLeader">Course Leader</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="degree"><span jhiTranslate="cloudGatewayApp.svcProgrammeModuleProgramme.degree">Degree</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="departmentName"><span jhiTranslate="cloudGatewayApp.svcProgrammeModuleProgramme.department">Department</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let programme of programmes ;trackBy: trackId">
                <td><a [routerLink]="['/programme', programme.id, 'view' ]">{{programme.id}}</a></td>
                <td>{{programme.code}}</td>
                <td>{{programme.name}}</td>
                <td>{{programme.length}}</td>
                <td>{{programme.courseLeader}}</td>
                <td>{{programme.degree}}</td>
                <td>
                    <div *ngIf="programme.departmentId">
                        <a [routerLink]="['../department', programme.departmentId , 'view' ]" >{{programme.departmentName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/programme', programme.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/programme', programme.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'programme', { outlets: { popup: programme.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="programmes && programmes.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
