<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="programmePropDict">
            <h2><span jhiTranslate="cloudGatewayApp.svcProgrammeProgrammePropDict.detail.title">Programme Prop Dict</span> {{programmePropDict.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cloudGatewayApp.svcProgrammeProgrammePropDict.forEnrollYear">For Enroll Year</span></dt>
                <dd>
                    <span>{{programmePropDict.forEnrollYear}}</span>
                </dd>
                <dt><span jhiTranslate="cloudGatewayApp.svcProgrammeProgrammePropDict.type">Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'cloudGatewayApp.ProgrammePropType.' + programmePropDict.type}}">{{programmePropDict.type}}</span>
                </dd>
                <dt><span jhiTranslate="cloudGatewayApp.svcProgrammeProgrammePropDict.forYearNo">For Year No</span></dt>
                <dd>
                    <span>{{programmePropDict.forYearNo}}</span>
                </dd>
                <dt><span jhiTranslate="cloudGatewayApp.svcProgrammeProgrammePropDict.forSemesterNo">For Semester No</span></dt>
                <dd>
                    <span>{{programmePropDict.forSemesterNo}}</span>
                </dd>
                <dt><span jhiTranslate="cloudGatewayApp.svcProgrammeProgrammePropDict.key" [ngbTooltip]="'cloudGatewayApp.svcProgrammeProgrammePropDict.help.key' | translate">Key</span></dt>
                <dd>
                    <span>{{programmePropDict.key}}</span>
                </dd>
                <dt><span jhiTranslate="cloudGatewayApp.svcProgrammeProgrammePropDict.value">Value</span></dt>
                <dd>
                    <span>{{programmePropDict.value}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/programme-prop-dict', programmePropDict.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
