<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="programmeProp">
            <h2><span jhiTranslate="cloudGatewayApp.svcModuleProgrammeProp.detail.title">Programme Prop</span> {{programmeProp.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cloudGatewayApp.svcModuleProgrammeProp.forEnrollYear">For Enroll Year</span></dt>
                <dd>
                    <span>{{programmeProp.forEnrollYear}}</span>
                </dd>
                <dt><span jhiTranslate="cloudGatewayApp.svcModuleProgrammeProp.type">Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'cloudGatewayApp.ProgrammePropType.' + programmeProp.type}}">{{programmeProp.type}}</span>
                </dd>
                <dt><span jhiTranslate="cloudGatewayApp.svcModuleProgrammeProp.forYearNo">For Year No</span></dt>
                <dd>
                    <span>{{programmeProp.forYearNo}}</span>
                </dd>
                <dt><span jhiTranslate="cloudGatewayApp.svcModuleProgrammeProp.forSemesterNo">For Semester No</span></dt>
                <dd>
                    <span>{{programmeProp.forSemesterNo}}</span>
                </dd>
                <dt><span jhiTranslate="cloudGatewayApp.svcModuleProgrammeProp.key" [ngbTooltip]="'cloudGatewayApp.svcModuleProgrammeProp.help.key' | translate">Key</span></dt>
                <dd>
                    <span>{{programmeProp.key}}</span>
                </dd>
                <dt><span jhiTranslate="cloudGatewayApp.svcModuleProgrammeProp.value">Value</span></dt>
                <dd>
                    <span>{{programmeProp.value}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/programme-prop', programmeProp.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
