<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="studentProgression">
            <h2><span jhiTranslate="cloudGatewayApp.svcStudentStudentProgression.detail.title">Student Progression</span> {{studentProgression.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cloudGatewayApp.svcStudentStudentProgression.yearNo">Year No</span></dt>
                <dd>
                    <span>{{studentProgression.yearNo}}</span>
                </dd>
                <dt><span jhiTranslate="cloudGatewayApp.svcStudentStudentProgression.semesterNo">Semester No</span></dt>
                <dd>
                    <span>{{studentProgression.semesterNo}}</span>
                </dd>
                <dt><span jhiTranslate="cloudGatewayApp.svcStudentStudentProgression.qca" [ngbTooltip]="'cloudGatewayApp.svcStudentStudentProgression.help.qca' | translate">Qca</span></dt>
                <dd>
                    <span>{{studentProgression.qca}}</span>
                </dd>
                <dt><span jhiTranslate="cloudGatewayApp.svcStudentStudentProgression.cumulativeQcaForPart" [ngbTooltip]="'cloudGatewayApp.svcStudentStudentProgression.help.cumulativeQcaForPart' | translate">Cumulative Qca For Part</span></dt>
                <dd>
                    <span>{{studentProgression.cumulativeQcaForPart}}</span>
                </dd>
                <dt><span jhiTranslate="cloudGatewayApp.svcStudentStudentProgression.progressDecision" [ngbTooltip]="'cloudGatewayApp.svcStudentStudentProgression.help.progressDecision' | translate">Progress Decision</span></dt>
                <dd>
                    <span jhiTranslate="{{'cloudGatewayApp.ProgressDecision.' + studentProgression.progressDecision}}">{{studentProgression.progressDecision}}</span>
                </dd>
                <dt><span jhiTranslate="cloudGatewayApp.svcStudentStudentProgression.student">Student</span></dt>
                <dd>
                    <div *ngIf="studentProgression.studentId">
                        <a [routerLink]="['/student', studentProgression.studentId, 'view']">{{studentProgression.studentStudentNumber}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/student-progression', studentProgression.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
